build-QQ-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
build-QQServer-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
QQClient/QQ.pro.user
QQServer/QQServer.pro.user
QQServer/debug/
QQClient/QQ.pro.user.4a40749
QQServer/QQServer.pro.user.4a40749
QQClient/debug